@use "../../assets/scss/"as *;

.header {

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 50px;
    width: 100%;
    z-index: 1;
    right: 0px;
    left: 0px;
  }

  &__logo_link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 24px;
    width: 100%;
  }

  &__logo {
    color: $secondary-color;
    justify-self: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
  }

  &__menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    height: 100%;

    .theme_switch {
      padding: 0 10px;

      .icon {
        display: flex;
        align-items: center;
      }


    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    gap: 8px;

    .resume {
      display: flex;
      align-items: center;
      background-color: #7c3aed;
      color: #fff;
      padding: 8px 16px;
      max-height: 100%;
      border-radius: 6px;
      transition: 0.3s all ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        background-color: #7227f3;
      }
    }

    .text_menu {
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #7c3aed;
      }
    }
  }

}

.logo {
  &__img {
    height: 35px;
    transition: 0.3s all ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__img-profile {
    width: 100%;
    transition: 0.3s all ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.media_social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;

  .item {
    display: flex;
    color: #fff;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 20px;

    .item_li {
      padding: 10px;
      transition: 0.3s all ease;

      &:hover {
        color: #7227f3;
        transform: translateY(-5px);
        transition: 0.3s all ease;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: #fff;
      margin-top: 20px;
    }
  }
}

.media_social_right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
  color: #a8b2d1;

  .item {
    display: flex;
    color: #fff;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 20px;

    .item_li {
      padding: 10px;
      transition: 0.3s all ease;

      &:hover {
        color: #7227f3;
        transform: translateY(-5px);
        transition: 0.3s all ease;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: #fff;
      margin-top: 20px;
    }
  }
}